a.tabledrag-handle .handle{
	height: 1.5rem;
  width: 1.5rem;
}

table.field-ui-overview tr.add-new .label-input{
  width: calc(100% - 1.5rem);
}

ul[class*='-block-grid-'].collapse li{
  padding-left:0;
  padding-right:0;
}

/* Top Bar */

  /*
  .top-bar-section .has-dropdown > a:after{
    border-left-color: rgba(0, 0, 0, 0.4);
  }*/

.top-bar.expanded .title-area,
.top-bar .name h1,
.top-bar .name h1 a,
.top-bar .toggle-topbar.menu-icon a,
.top-bar-section,
.top-bar-section ul,
.top-bar-section .dropdown,
.top-bar-section .dropdown li.title h5 a,
.top-bar-section li:not(.has-form),
.top-bar-section li:not(.has-form) a:not(.button){
  color:inherit;
  background-color:inherit;
}

.top-bar .toggle-topbar.menu-icon a::after{
  -webkit-box-shadow: 0 10px 0 1px, 0 16px 0 1px, 0 22px 0 1px;
  box-shadow: 0 10px 0 1px, 0 16px 0 1px, 0 22px 0 1px;
}
.top-bar.expanded .toggle-topbar a span{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.top-bar .name{
  height:auto;
  margin-bottom:1rem;
}
.contain-to-grid{
  color: #ffffff;
  border-bottom-width:3px;
  border-bottom-style:solid;
}
.contain-to-grid .top-bar {
  color:inherit;
  background-color:inherit;
}
/* /Top Bar */

/* Main */

.l-main{
  clear:both;
}

/* /Main */

/* Button Group */
.button-group li .button{
  margin-bottom:0;
}
/* /Button Group */

/* Menus, Inline links, Action links */

ul.menu{
  list-style-type:none;
}

.links.inline,
.action-links {
  margin: 0 auto 1.0625rem auto;
  margin-left: -1.375rem;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.links.inline > li,
.action-links > li
{
  list-style: none;
  float: left;
  margin-left: 1.375rem;
  display: block;
}

.links.inline > li>*,
.action-links > li>*
 {
display: block;
}

/* /Menus, Inline links, Action links */
