a.tabledrag-handle .handle{
	height: 1.5rem;
  width: 1.5rem;
}

table.field-ui-overview tr.add-new .label-input{
  width: calc(100% - 1.5rem);
}

ul[class*='-block-grid-'].collapse li{
  padding-left:0;
  padding-right:0;
}
